body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  background-color: #EBEBEB;
}

/*JUMBOTRON*/
.jumbotron {
  background-image: url("images/crane.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

/*DROPDOWN MENU BUTTON*/
.open>.dropdown-toggle.btn-default:hover, .btn-default:hover, .btn-default:focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-default, .open>.dropdown-toggle.btn-default:focus, .btn-default:active:focus {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  outline: none;
}

/*DROPDOWN MENU*/
.dropdown-menu{
  left: -25px;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  box-shadow: none;
}

/*DROPDOWN MENU ANCHORS*/
.dropdown-menu a, .dropdown-menu a:hover {
  color: #C7777A;
  text-decoration: none;
  padding: 10px;
  font-size: 20px
}

/*JUMBOTRON HEADER*/
.jumbotron h1 {
  padding: 240px 0 0 0;
  margin: 0 auto;
  color: black;
}

/*JUMBOTRON SUB-HEADER*/
.scroller {
  margin: 170px 0 0 0;
}

/*ABOUT ME BLURBS*/
h2.blurb {
  margin-top: 120px;
}

p.blurb {
  font-size: 22px;
}


.spacer {
  margin-top: 230px;
}

.langs, .frames {
  /*text-align: center;*/
  margin: 10px 0px;
  font-size: 3em;
}

#langs div, #frames div {
  float: left;
}

.frames{
  text-align: right;
}


/*ICONS*/
.icons, .iconsTwo {
  display: none;
}

.icons {
  padding: 15px 0;
}

.iconsTwo {
  padding: 35px 0;
}

.icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 30px;
}

.icon.html, .icon.css {
  padding-top: 5px;
}

.icon.css {
  width: 70px;
}

.icon.js {
  width: 105px;
}


/*MODAL BUTTONS*/
.mod button, .mod button:hover, .mod button:focus {
  background-color: rgba(255, 255, 255, 0);
  border: 0px;
  outline: none;
  margin: 100px 0 0 0;
}

.mod button img {
  width: 30px;
}

/*TEXT ALIGNING EVERYTHING*/
.jumbotron h1, .scroller, .blurb, .col-md-12 h1, .col-md-12 p, .profile h2,  .profile p, h4, footer, .icons, .iconsTwo {
  text-align: center;
}

.languages .icon {
  margin: 10px 10px;
}

.col-md-12 h1 {
  margin-top: 50px;
}

.col-md-12 p {
  font-size: 25px;
}

.projects {
  margin-top: 50px;
}

ul {
  list-style-type: none;
  padding: 10px;
}

.languages {
  margin: 0 auto;
  /*width: 370px;*/
}

.languages.css, .languages.html {
  padding-top: 5px;
  width: 70px;
}

.site {
  padding: 0;
  margin: 15px 0;
}

.contact {
  display: inline-block;
}

.contact .icon {
  width: 50px;
  height: 50px;
}

footer {
  margin-top: 50px;
  background-color: #FFFFFF;
  padding-bottom: 50px;
}

.contact {
  padding: 0 10px;
}
