body {
  margin: 0;
  /*padding: 0 0 70px 0;*/
  font-family: 'Quicksand', sans-serif;
  background-color: #EBEBEB;
}

.jumbotron {
  background-image: url("images/crane.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.jumbotron img {
  /*width: 5*/
}

.open>.dropdown-toggle.btn-default:hover, .btn-default:hover, .btn-default:focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover, .btn-default, .open>.dropdown-toggle.btn-default:focus, .btn-default:active:focus {
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  outline: none;
}

.dropdown-menu{
  left: -25px;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  box-shadow: none;
}

.dropdown-menu a, .dropdown-menu a:hover {
  color: #C7777A;
  text-decoration: none;
  padding: 10px;
  font-size: 20px
}

.jumbotron h1 {
  padding: 240px 0 0 0;
  margin: 0 auto;
  color: black;
  text-align: center;
}

.jumbotron h2 {
  margin: 170px 0 0 0;
  text-align: center;
}

.blurb {
  text-align: center;
}

h2.blurb {
  margin-top: 120px;
}

p.blurb {
  font-size: 22px;
}


.spacer {
  margin-top: 160px;
}
/*.row:nth-child(3), .row:nth-child(4) {
  margin: 250px 0;
}*/

.langs, .frameBerries {
  /*text-align: center;*/
  margin: 10px 0px;
  font-size: 3em;
}
.frameBerries{
  text-align: right;
}

.icons {
  text-align: center;
  display: none;
}

.icon {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0 10px;
}

#langs div, #frameBerries div {
  float: left;
}

.icon.html {
  padding-top: 3px;
}

.icon.css {
  width: 70px;
  padding-top: 3px;
}

.icon.js {
  height: 109px;
  width: 105px;
}

.languages {
  display: none;
}

.col-md-12 p {
  text-align: center;
  font-size: 25px;
}

.col-md-12 h1 {
  margin-top: 50px;
  text-align: center;
  /*font-size: 50px;*/
}



h4 {
  text-align: center;
}

.projects {
  margin-top: 50px;
}

.projects ul li {
  font-size: 30px;
  margin-top: 20px;
}

.projects ul p {
  font-size: 20px;
  margin-left: 15px;
}

ul {
  list-style-type: none;
}

.contact {
  display: inline-block;
}

.contact .icon {
  width: 50px;
  height: 50px;
}

footer {
  text-align: center;
  margin-top: 50px;
  background-color: #FFFFFF;
  padding-bottom: 50px;
}

.contact {
  padding: 0 10px;
}
